# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Pycache
../RAManagementSuite/__pycache__/
../RAManagementSuite/repos/__pycache__/
../RAManagementSuite/views/__pycache__/
