{% extends 'base.html' %}

{% block content %}
    <style>
        h1 {
            color: royalblue;
            background: lightblue;
            border-radius: 15px;
            padding: 15px;
            width: 736px;
        }
        hr {
            width: 32%;
            position: relative;
            left: -380px;
        }
        a {
            display: block;
            width: fit-content;
        }
        h3 {
            width: 360px;
            word-wrap: break-word;
        }
    </style>
    <h1>{% block title %} Welcome to the RA Management Suite {% endblock %}</h1>
    <br>
    <h2>{{ 'Recent Announcements:' }}</h2>
    <br>
    {% for announcement in announcements[-5:] %}
        <a href="{{ url_for('home.announcement', announcement_id=announcement['id']) }}">
            <h3>{{ announcement['title'] }}</h3>
        </a>
        <span class="badge badge-primary">{{ announcement['created'] }}</span>
            <a href="{{ url_for('home.edit', announcement_id=announcement['id']) }}">
            <span class="badge badge-warning">Edit</span>
        </a>
        <hr>
    {% endfor %}
{% endblock %}