{% extends "base.html" %}

{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <span class="font-weight-bold">{{ current_user.name }}</span>
                <span class="text-black-50">{{ current_user.email }}</span><span> </span>
            </div>
        </div>
        <div class="col-md-9">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-4">
                        <label class="labels">First Name</label>
                        <input type="text" class="form-control" placeholder="First Name" value="" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="labels">Last Name</label>
                        <input type="text" class="form-control" value="" placeholder="Last Name" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="labels">Birthdate</label>
                        <input type="date" class="form-control" value="" readonly>
                    </div>
                </div>
                <!-- Add additional fields here, keeping the 'readonly' attribute -->
                <div class="row mt-3">
                    <div class="col-md-4">
                        <label class="labels">Phone Number</label>
                        <input type="text" class="form-control" placeholder="Enter Phone Number" value="" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="labels">Pronouns</label>
                        <select class="form-control" readonly>
                            <option value="he">He/Him</option>
                            <option value="she">She/Her</option>
                            <option value="they">They/Them</option>
                        </select>
                    </div>
                    <div class= "col-md-4">
                        <label class="labels">Gender</label>
                        <select class="form-control" readonly>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                            <option value="prefer not to say">Prefer not to say</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label class="labels">Major</label>
                        <input type="text" class="form-control" placeholder="Major" value="" readonly>
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Address Line 1</label>
                        <input type="text" class="form-control" placeholder="Enter Address Line 1" value="" readonly>
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Address Line 2</label>
                        <input type="text" class="form-control" placeholder="Enter Address Line 2" value="" readonly>
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Postcode</label>
                        <input type="text" class="form-control" placeholder="Enter Postcode" value="" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="labels">City</label>
                        <input type="text" class="form-control" placeholder="Enter City" value="" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Province</label>
                        <input type="text" class="form-control" placeholder="Enter State" value="" readonly>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label class="labels">Shift Availability</label>
                        <input type="text" class="form-control" placeholder="Shift Availability" value="" readonly>
                    </div>
                </div>
                <div class="mt-3 text-center">
                    <button class="btn btn-primary profile-button" id="edit-profile-button" type="button">Edit Profile</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Get a reference to the "Edit Profile" button
    const editProfileButton = document.getElementById("edit-profile-button");

    // Get references to the input fields you want to make editable
    const editableFields = document.querySelectorAll(".form-control[readonly]");

    // Function to toggle the "readonly" attribute on input fields and change button text
    function toggleEditable() {
        for (const field of editableFields) {
            field.readOnly = !field.readOnly;
        }

        // Change the button text based on the readonly state
        editProfileButton.innerText = field.readOnly ? "Edit Profile" : "Save Changes";
    }

    // Add a click event listener to the "Edit Profile" button
    editProfileButton.addEventListener("click", toggleEditable);
</script>
{% endblock %}
