{% extends 'base.html' %}

{% block content %}
    <h1>{% block code_title %} Code Management {% endblock %}</h1>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Tasks</h2>
        {% if current_user.role != UserRole.BASIC %}
            <form method="post">
            <button type="submit" class="btn btn-primary">Create New Code</button>
            </form>
        {% endif %}
    </div>

    <table>
        <thead>
        <tr>
            <th>Code</th>
            <th>Created</th>
            <th>Expires</th>
            <th>Used</th>
            <th>Delete Code</th>
        </tr>
        </thead>

        <tbody>
        {% for code in codes %}
        <tr class="rows">
            <td class="name">{{code['code']}}</td>
            <td class="formatted_created">{{code['formatted_created']}}</td>
            <td class="formatted_expires">{{code['formatted_expires']}}</td>
            <td class="used">{{code['used']}}</td>
            <td class="delete">
                <form name="delete_form" method="POST" action={{url_for('home.delete_code', code_id=code['id'])}}>
                    <input type="submit" name="delete" value="Delete" class="delete_button">
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>



<style>

    table{
        border-collapse: collapse;
        border-spacing: 1px;
        background: white;
        border-radius: 10px;
        overflow: hidden;
        width: inherit;
        margin: 0 auto;
        position: relative;
    }
    table *{
        position: relative;

    }
    table td, table th{
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 8px;
    }
    table th{
	    background-color: #36304a;
	    color: #ffffff;
	    font-size: 13px;
	    border: 1px solid #54585d;
        text-align: center;
    }
    table tbody td {
        color: #636363;
        border: 1px solid #dddfe1;
    }
    table tbody tr {
        background-color: #f9fafb;
    }
    table tbody tr:nth-child(odd) {
        background-color: #ffffff;
    }





</style>



{% endblock %}